
.faq__title {
  text-align: center;
  margin-bottom: 40px;
}
.faq__body {
  overflow: hidden;
  max-width: 1006px;
  margin: 0 auto;
  border-radius: 3px;
  background: var(--white-color);
}
.faq__body:not(:last-child) {
  margin-bottom: 37px;
}
.faq__top {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 30px;
  color: var(--main-color);
  padding: 19px 24px;
}
.faq__top img {
  width: 50px;
  height: 50px;
  user-select: none;
}
.faq__open-btn img{
  transition: 0.3s;
}

.faq__text {
  transition: 0.3s;
  max-height: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 400;
  font-size: 20px;
  color: var(--main-color);
  line-height: 30px;
  padding: 0px 24px 0px 24px;
}

@media (max-width: 768px){
    .faq__top {
        font-size: 26px;
    }
    .faq__text {
        font-size: 16px;
        line-height: 25px;
    }
}
@media (max-width: 495px){
    .faq__top {
        font-size: 22px;
    }
    .faq__text {
        font-size: 15px;
        line-height: 20px;
    }
    .faq__top img {
        width: 30px;
        height: 30px;
    }
}