@font-face {
    font-display: swap;
    font-family: "HalvarBreit";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/HalvarBreit-Bd.woff") format("woff2");
}
@font-face {
    font-display: swap;
    font-family: "HalvarBreit";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/HalvarBreit-Md.woff") format("woff2");
}
@font-face {
    font-display: swap;
    font-family: "HalvarBreit";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/HalvarBreit-Rg.woff") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Jost";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/Jost-SemiBold.woff") format("woff2");
}
@font-face {
    font-display: swap;
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Jost-Medium.woff") format("woff2");
}
@font-face {
    font-display: swap;
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Jost-Regular.woff") format("woff2");
}
@font-face {
    font-display: swap;
    font-family: "Jost";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Jost-Light.woff") format("woff2");
}