.order-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
  
    font-weight: 400;
    font-size: 16px;
    color: var(--white-color);
    border-radius: 4px;
    background: var(--blue-color);
    padding: 10px 15px;
    text-align: center;
}
.order-btn :hover {
    transition: 0.3s;
    opacity: 0.7;
  }