.opacity {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: rgba(0, 0, 0, 0.4);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  transition: 0.3s;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 34px 0px; */
  gap: 10px;
}
.menu__logo {
  font-size: 33px;
}
.menu-open .menu__nav {
  right: 0;
}
.menu__list {
  display: flex;
  align-items: center;
  gap: 39px;
  font-size: 16px;
}
.menu__item {
  position: relative;
  width: 100%;
  font-weight: 500;

  font-size: 18px;
}

.menu__item span {
  /* font-size: 18px; */
}
.menu__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  color: var(--main-color);
  width: 100%;
  color: var(--main-color);
 
}
.menu__link:hover {
  color: #636363;
  transition: 0.3s;
}
.menu__link img  {
  transition: 0.3s;
}

.menu__item:hover .under-menu {
  opacity: 1;
  visibility: visible;
  max-height: unset;
  overflow: visible;
}
.hovered {
  background: #fff !important;
}

.menu__connect {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu__btn:hover {
  transition: 0.3s;
  opacity: 0.7;
}
.consultation {
  display: flex;
  justify-content: space-between;
  background: #1111;
  border-radius: 0px 0px 20px 20px;
  /* margin-top: 50px; */
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 13px 38px;

}
.consultation__info {
  max-width: 418px;
}
.consultation__title {
  margin-bottom: 8px;
  font-size: 18px;
}
.consultation__subtitle {
  font-weight: 400;
font-size: 12px;
color: rgba(0, 0, 0, 0.4);
}
.under-menu {
  max-height: 0;
  overflow: hidden;

  display: grid;
  grid-template-columns: 1fr 1fr;
  opacity: 0;
  visibility: hidden;
  gap: 31px;
  
  position: absolute;
  top: 80px;

  left: 0;
  background: var(--white-color);
  min-width: 736px;
  padding: 35px 29px 40px 29px;
  border-radius: 0px 0px 30px 30px;
  transition:  0.3s;
}
.products-items {
  padding-bottom: 100px;
}
.product-menu__link {
  display: flex;
  gap: 14px;
  padding: 9px;
  transition: 0.3s;
}
.product-menu__link:hover {
  background: #f0f0f0;
}
.product-menu__title {
  margin-bottom: 8px;
}
.product-menu__text {
  font-weight: 400;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}

.competencies {
  display: flex;
  gap: 50px;
  justify-content: center;
  width: 100%;
  padding: 65px;
  /* top: 108px; */
  top: 76px;
}
.competencies-item {
  position: static;
}
.under-menu__span {
  display: block;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 13px;
}
.under-menu__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.under-menu__item {
  width: 100%;
}

.under-menu__item a {
  display: inline-block;
  width: 100%;

}
.under-menu__item span {
  transition: 0.3s;
  padding: 5px 5px;
}
.under-menu__item:hover span {

  background: #f0f0f0;
  border-radius: 4px;

}
.under-menu__span-under {
  font-size: 16px ;
}
.under-menu__link {
  font-weight: 400;
  font-size: 16px;
}

.clients {
  min-width: 371px;
  grid-template-columns: 1fr;
  row-gap: 17px;
}

@media (min-width: 992px) {

  .menu__item:hover .menu__link img {
    transform: rotate(-180deg);
  }
  .menu__item {
    padding: 32px 0px;
  }
  .openUnder {
    visibility: visible;
    opacity: 1;
  }
  .menu__nav a.back {
    display: none;
  }
}
.socials-menu {
  display: none;

}

.bottom-btn {
  display: none;
}
@media (max-width: 1378px){
  .menu__list {
    gap: 22px;
  }
}
@media (max-width: 1280px){
  .menu__connect {
    display: none;
  }
  
  .menu__item {
    font-size: 16px;
  }
  /* .menu__logo {
    font-size: 30px;
  } */
}
@media (max-width: 992px) {
  .header {
    padding: 34px 0px;
  }
  .consultation {
    flex-direction: column;
    padding: 19px 17px;
    border-radius: unset;
    width: 347px;
    left: 0;
  }
  .consultation__info {
    margin-bottom: 23px;
  }
  .socials-menu {
    display: flex;
    gap: 3px;
    margin-top: 24px;
  }
  .header {
    /* height: 100%; */
  }
 .clients .under-menu__item {
  margin-bottom: 23px;
 }
  .menu__nav {
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    z-index: 2;
    top: 0;

    min-width: 350px;
    height: 100%;
    padding: 0 15px;
    right: -100%;
    transition: right 0.3s ease 0s;
    background: var(--white-color);
    padding-top: 31px;
  }
  .menu__nav > ul {
    left: 0;
    position: relative;
  }

  .menu__nav ul {
    width: 100%;
    /* height: 100%; */
  }
  .menu__nav a {
    display: flex;
  }
  .menu__nav a.back {
    display: block;
  }
  /* .bottom-btn  a.next {
    display: none;
  } */
  .menu__nav a.back:before {
    content: url(../../img/icons/back.svg);
    margin-right: 16px;
  }
  .menu__nav a.back {
    margin-bottom: 26px;
    font-size: 18px;
  }
  .menu__list {
    flex-direction: column;
    align-items: start;
    gap: 25px;
    min-height: 100%;
  }
  .menu__item {
    position: static;
  }
  .menu__link img {
    width: 14px;
    transform: rotate(270deg);
  }
  .under-menu {
    display: none;
    min-width: 100%;
    padding: 0px 0px 0px 15px;
    left: 100%;
    height: 100%;
    position: absolute;
    top: 0;

    opacity: 1;
    visibility: visible;
  }
.competencies .under-menu__block .under-menu__body .under-menu__list .under-menu__item:last-child {
  margin-bottom: 32px;
}

  .under-menu__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 10px;

  }

  .under-menu__link {
    font-weight: 400;
    font-size: 16px;
  }



  .bottom {
    position: absolute;
    bottom: 33px;
    left: 0;
    width: 94%;
    margin: 0px 0px 0px 7px;
  }
  .bottom-btn {
    display: block;
   
  }
}
@media (max-width: 552px){
  .menu__logo {
    font-size: 23px;
  }
}
@media (max-width: 375px){
  .menu__nav {
    /* max-width: 340px; */
    max-width: 284px;
    min-width: unset;
    width: 100%;

  }
}
